* {
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}

#container
{
    width:  1000px;
    box-sizing: border-box;
    margin: 0 auto;
}
#sample
{
    background-color: red;
    padding:20px;

}
#top
{
    position: relative;
    background-color: #262726;   
    padding: 50px;
}
#middle
{
    background-color: #ececec;
    padding: 50px;
}
#container address
{
    color: teal;
    position: absolute;
    right: 20px;
    top: 20px;
}
#goToTop
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgba(38, 39, 38, 0.9);
    padding: 20px;
    color: teal;
    text-decoration: none;
}
#goToTop:hover
{
    background-color: rgba(38, 39, 38);
}

h1, h2
{
    margin: 20px 0;
}
#obrazek
{
    float: right; /* nie trzeba kombinować z ręcznym ustawieniem, ta funkcja powoduje 'opływanie' np obrazka, żeby to wyłączyć w sąsiadujących elementach używasz inline css style="clear: right", jest też left, both itp., */
    margin-left: 30px;
}
p
{
    text-align: justify;
}