body
{
    background-color:#cfd9df;
    margin: 0;    
}
.przyklad
{
    text-align: justify;
    text-indent: 50px;
    width: 70%;
    padding: 10px;
    line-height: 130%;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
}
.przyklad::first-letter
{
    font-weight: bold;
    font-size: 1.5em;
}


ul
{
    list-style-type: none;
}
ul li::before
{
    content: "\2714\00A0";
    color: blue;
}