body
{
    background-color: 	#cfd9df;
    margin: 0;
}
div
{
    margin: 20px;
}

.none {border-style: none;}
.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.solid {border-style: solid;}
.double {border-style: double;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.mix {
   width: 300px;

   border-bottom: 1px solid darkgreen;
}
.definicja{
    border-left: 5px solid crimson;
    background-color:darkgray;
}
.definicja2
{
    border: 1px solid chocolate;
    border-left-width: 5px;
    border-top-style: none;
    border-right-style: none;
    width: 300px;
}
.definicja3
{
    border-style: none none double solid;
    width: 300px;
    text-align: center;
}
