* {
    margin: 0;
}
#kontener
{
    margin: 0 auto; /* auto zadziala tylko kiedy masz width */
    display: block;
    background-color: red;
    width: 900px;
}
.link
{
    display: inline-block;
    background-color: aqua;
    padding: 15px;
    border-left: 5px solid gainsboro;
    margin-left: 4px;
    width: 111px;
    text-align: center;


    /*
    150 - 10 - 10 - 5 - 5 = 120
    width + padding-left + padding-right + border-left + border-right + margin-left + margin-right
    */
}