* {
    margin: 0;
}
span
{
    position: fixed;
    right: 10px;
    top: 10px;
}

#menu_dolne
{
    width: 60%;
    /* display: flex; */
    justify-content: center; /* centruje zawartosc diva w poziomie*/
    align-items:center; /* centrowanie w pionie */
    margin-left: 20%;
    margin-right: 20%;
    /* display: inline-block; it does nothing because od width parameter above */
    background-color: aqua;
    position: fixed; /* absolute, relative, fixed, static */
    bottom: 0;
    padding: 10px;
}