.thumbnail
{
    width: 60px;
}
.thumbnail:hover
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}
#mainImage
{
    width: 350px;
    height: 263px;
    margin-bottom: 10px;
}
.current
{
    border-bottom: 2px solid red;
    margin-bottom: -2px;    
}